@media (max-width:1199px) {
    .container {
        width: 960px;
    }
    .why-wrapper {
        height: 315px;
    }
    .why-list-item p {
        font-size: 20px;
    }
    .popular-wrapper {
        height: 364px;
    }
    .popular-list-item {
        height: 251px;
    }
    .popular-list-item .destination {
        margin-bottom: 163px;
    }
}

@media (max-width:991px) {
    .container {
        width: 736px;
    }
    header {
        height: 64px;
    }
    .navbar-logo img {
        max-height: 30px;
    }
    .navbar-nav ul {
        margin-top: 22.5px;
    }
    .navbar-nav a {
        font-size: 16px;
    }
    .navbar-nav .nav-li {
        margin-right: 20px;
    }
    .navbar-nav .signin {
        margin-right: 10px;
    }
    .signin a {
        padding: 8px 16px;
    }
    .signup a {
        padding: 8px 16px;
    }
    .cta-wrapper {
        height: 455px;
    }
    .cta-wrapper .tagline {
        padding-top: 100px;
    }
    .tagline h1 {
        font-size: 48px;
    }
    .tagline-desc p {
        font-size: 18px;
    }
    .cta-wrapper a {
        font-size: 18px;
    }
    .why-wrapper {
        padding: 30px 0;
        height: 258px;
    }
    .why-heading h2 {
        font-size: 24px;
    }
    .why-list-item p {
        font-size: 16px;
    }
    .popular-wrapper {
        padding: 30px 0;
        height: 276px;
    }
    .popular-heading h2 {
        font-size: 28px;
    }
    .popular-list-item {
        height: 183px;
        padding: 15px 0;
    }
    .popular-list-item-heading .country {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .popular-list-item-heading .destination {
        font-size: 16px;
        margin-bottom:126px;
    }
    .popular-list-item a{
        font-size: 12px;
        padding: 4px 40px;
        border-radius: 4px;
    }
    footer {
        height: 222px;
    }
    .footer-left a {
        font-size: 16px;
    }
    .footer-right p {
        font-size: 16px;
    }
    .social-media span {
        font-size: 30px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .footer-bottom {
        padding-bottom: 30px;
    }
}

@media (max-width:767px) {
    .container {
        width: 544px;
    }
    .navbar-nav {
        display: none;
    }
    .menu-icon {
        display: block;
    }
    .cta-wrapper {
        height: 343px;
    }
    .cta-wrapper a {
        margin-top: 30px;
    }
    .cta-wrapper .tagline {
        padding-top: 75px;
    }
    .tagline h1 {
        font-size: 36px;
    }
    .tagline-desc p {
        font-size: 16px;
        margin-top: 15px;
    }
    .why-wrapper {
        height: 212px;
    }
    .why-list-item p {
        font-size: 12px;
    }
    .popular-wrapper {
        height: 743px;
    }
    .popular-list-item-wrapper {
        width: 50%;
    }
    .popular-list-item {
        padding: 20px 0;
        height: 290px;
        margin-bottom: 20px;
    }
    .popular-list-item .country {
        font-size: 18px;
    }
    .popular-list-item .destination {
        font-size: 24px;
        margin-bottom: 205px;
    }
    .popular-list-item a {
        font-size: 18px;
        padding: 6px 24px;
        border-radius: 8px;
    }
}

@media (max-width:575px) {
    .container {
        width: 468px;
    }
    .why-wrapper {
        height: 583px;
    }
    .why-list-item {
        width: 50%;
        margin-bottom: 30px;
    }
    .why-list-item p {
        font-size: 20px;
    }
}